body{
	font-size: 100%;
	font-family: 微软雅黑;
}
img{
	max-height: 100%;
}
nav{
	background-color: rgba(0, 204, 255, 0.2);
	z-index: 1999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-position: 0 -361px;
	background-repeat: repeat-x;
	height: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	display: block;
}
#navibar{
	display: block;
	width: 980px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	height: 100%;
}
nav ul li{
	display: inline-block;
	width: 320px;
	margin-left: 0;
	margin-right: 10px;
	height: 100%;
}
nav ul li:last-child{
	padding-right: 0;
}
#userinfo{
	background-color: rgba(127,127,127,0.2);
}
#userinfo div{
	display: inline-block;
	height: 100%;
}
#search{
	height: 100%;
}
#keyword{
	float: left;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-style: solid;
	border-width: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 0;
	padding-left: 5px;
	padding-right: 5px;
	height: 22px;
}
#searchsubmit{
	float: left;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: -1px;
	padding-left: 5px;
	padding-right: 5px;
	height: 26px;
}